/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.column-triple-action {
    width: 15em;
}

.value {
        font-weight: bold;
    }
     
.ui-carousel {
        margin-bottom: 20px;
    }


input,
select,
textarea,
button,
keygen,
isindex,
legend,
a {
    font-size: 11px;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    color: #000;
}

html {
    font-size: 13px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rich-message-label{
	color: #F00
}



